<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" src="./assets/images/profile.png" alt="">
    <p>Your question has been processed. Your decision code is:</p>
    <!-- Text input-->
    <div class="form-group row">
      <div class="col-md-3"></div>
      <label class="col-md-2 control-label" for="textinput">Decision code</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" value="h3Vj8" class="form-control input-md" disabled>
      </div>
    </div>
    <p>Remember this code!</p>
    <h2 class="font-weight-light mb-0">
      <a routerLink="/makeadecision" routerLinkActive="active">
        <button type="button" class="btn btn-secondary">Go make a decision</button>
      </a>
    </h2>
  </div>
</header>