<div class='options'>
  <div id="accordion" role="tablist" aria-multiselectable="true">
  
    <div class="card">
  
      <div class="card-block">
        <div class="card-header" role="tab" id="headingOne">
          <div class="row">
            <div class="col-10">
              <h5 class="mb-0">
                <div class="collapsed">
                  Option #1
                </div>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="col-2-sm pull-right">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#headingOne" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Pros/Cons</button>
            </div>
          </div>
        </div>
      </div>
  
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <div class="card-header">
            <div class="row mb-0 card-text">
              <div class="col-6">
                <u>
                  <strong>Pros:</strong>
                  <br/>
                </u>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                  <li>Aliquam tincidunt mauris eu risus.</li>
                  <li>Vestibulum auctor dapibus neque.</li>
                </ul>
              </div>
              <div class="col-6">
                <u>
                  <strong>Cons:</strong>
                  <br/>
                </u>
                <ul>
                  <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras
                    consequat.</li>
                  <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
                    Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                  <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla
                    quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                  <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>  
      </div>
  
      <div class="card-block">
        <div class="card-header" role="tab" id="headingTwo">
          <div class="row">
            <div class="col-10">
              <h5 class="mb-0">
                <div class="collapsed">
                  Option #2
                </div>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="col-2-sm pull-right">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#headingTwo" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">Pros/Cons</button>
            </div>
          </div>
        </div>
      </div>
      
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <div class="card-header">
            <div class="row mb-0 card-text">
              <div class="col-6">
                <u>
                  <strong>Pros:</strong>
                  <br/>
                </u>
                <ul>
                  <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                  <li>3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</li>
                  <li>Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua.</li>
                  <li>Put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</li>
                </ul>
              </div>
              <div class="col-6">
                <u>
                  <strong>Cons:</strong>
                  <br/>
                </u>
                <ul>
                  <li>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</li>
                  <li>Ad vegan excepteur butcher vice lomo.</li>
                  <li>Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-block">
        <div class="card-header" role="tab" id="headingThree">
          <div class="row">
            <div class="col-10">
              <h5 class="mb-0">
                <div class="collapsed">
                  Option #3
                </div>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="col-2-sm pull-right">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#headingThree" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">Pros/Cons</button>
            </div>
          </div>
        </div>
      </div>
      
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <div class="card-header">
            <div class="row mb-0 card-text">
              <div class="col-6">
                <u><strong>Pros:</strong><br/></u>
                <ul>
                  <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</li>
                  <li>3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</li>
                  <li>Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua.</li>
                  <li>Put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</li>
                </ul>               
              </div>
              <div class="col-6">
                <u>
                  <strong>Cons:</strong>
                  <br/>
                </u>
                <ul>
                  <li>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</li>
                  <li>Ad vegan excepteur butcher vice lomo.</li>
                  <li>Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>