<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-2 control-label" for="textinput">Decision code</label>
      <div class="col-md-8">
        <input id="textinput" name="textinput" type="text" placeholder="Enter the decision code you were given" class="form-control input-md"
          required="">
      </div>
    </div>
    <h2 class="font-weight-light mb-0">
      <a routerLink="/decide" routerLinkActive="active"><button type="button" class="btn btn-secondary">Make a decision</button></a>
    </h2>
  </div>
</header>