<div class="masthead bg-primary text-white text-center">
  <div class="container">
    <div class="row">
      <div class="well">
        <h1 class="text-center">Choose the best option</h1>
        <div class="list-group">
          <div class="list-group-item text-dark d-flex justify-content-center align-items-center">
            <div class="row align-self-center">
              <div class="col-md-9 align-self-center">
                <h4 class="list-group-item-heading"> Option 1 </h4>
                <p class="list-group-item-text"> Qui diam libris ei, vidisse incorrupte at mel. His euismod salutandi dissentiunt eu. Habeo offendit ea mea. Nostro
                  blandit sea ea, viris timeam molestiae an has. At nisl platonem eum. Vel et nonumy gubergren, ad has tota facilis
                  probatus. Ea legere legimus tibique cum, sale tantas vim ea, eu vivendo expetendis vim. Voluptua vituperatoribus
                  et mel, ius no elitr deserunt mediocrem. Mea facilisi torquatos ad.
                </p>
              </div>
              <div class="col-md-3 align-self-center">
                <button type="button" class="btn btn-primary btn-lg btn-block"> Vote </button>
              </div>
            </div>
          </div>
          <div class="list-group-item text-dark d-flex justify-content-center align-items-center">
            <div class="row">
              <div class="col-md-9 align-self-center">
                <h4 class="list-group-item-heading"> Option 2 </h4>
                <p class="list-group-item-text"> Eu eum corpora torquatos, ne postea constituto mea, quo tale lorem facer no. Ut sed odio appetere partiendo,
                  quo meliore salutandi ex. Vix an sanctus vivendo, sed vocibus accumsan petentium ea. Sed integre saperet at,
                  no nec debet erant, quo dico incorrupte comprehensam ut. Et minimum consulatu ius, an dolores iracundia est,
                  oportere vituperata interpretaris sea an. Sed id error quando indoctum, mel suas saperet at.
                </p>
              </div>
              <div class="col-md-3 align-self-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">Vote </button>
              </div>
            </div>
          </div>
          <div class="list-group-item text-dark d-flex justify-content-center align-items-center">
            <div class="row">
              <div class="col-md-9 align-self-center">
                <h4 class="list-group-item-heading"> Option 3 </h4>
                <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam
                  nihil persecuti philosophia id, nam quot populo ea. Falli urbanitas ei pri, eu est enim volumus, mei no volutpat
                  periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.
                </p>
              </div>
              <div class="col-md-3 align-self-center">
                <button type="button" class="btn btn-primary btn-lg btn-block">Vote </button>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>